# .DS_Store files for Apple devices
**/.DS_Store

# Python compiled files
**/__pycache__

# Mypy cache
**/.mypy_cache

# Ignore log files
**/*.log

# Ignore database files
**/*.db
**/*.sqlite3

# Vim swap files
**/*.swp
**/*.swo

# Python virtual environment
.venv

# Coverage files
.coverage
htmlcov

# Code editor configs
## Intellij
.idea
## VSCode
.vscode
## YCM config files
**/.ycm_extra_conf.py
