<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Hare Management UI">
        <meta name="author" content="NR">
        <title>Hare Management UI</title>
        <!-- <link rel="shortcut icon" type="image/png" href="{{ url_for("static", filename="images/favicon.ico") }}" /> -->
        <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}" />
        <style>
            /* Sticky footer styles
            -------------------------------------------------- */
            html {
                position: relative;
                min-height: 100%;
            }
            body {
                /* Margin bottom by footer height */
                margin-bottom: 60px;
            }
            .footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                /* Set the fixed height of the footer here */
                height: 60px;
                line-height: 60px; /* Vertically center the text there */
                /*background-color: #f5f5f5;*/
            }
        </style>
        <!--
        nnnn     nn rrrrrrrr
        nn nn    nn rr     r
        nn  nn   nn rrrrrrrr
        nn   nn  nn rr rr
        nn    nn nn rr   rr
        n     nnnn r      rr
        -->
    </head>
    <body>
        <nav class="navbar navbar-dark justify-content-between" style="background-color: rgba(25,25,25,1);">
            <a class="navbar-brand" href="/">
                Hare
            </a>
        </nav>
        <div id="app-wrapper" class="container-fluid">
            <div id="alert-wrapper" class="row d-none">
                <div class="col-12 col-md-10 offset-md-1">
                    <div id="alert-element" class="alert fade text-center" role="alert" style="margin-bottom: 0px; margin-top: 1px;"></div>
                </div>
            </div>
			<div class="row my-5">
				<div class="col-lg-6 offset-lg-3 col-sm-8 offset-sm-2">
					<form id="main-form" action="/new" method="POST">
				    	<div class="form-group form-row">
                            <label class="col-form-label" for="url">Destination</label>
                            <input type="text" class="form-control" id="url" name="url" aria-describedby="destination-help" placeholder="destination">
                            <small id="destination-help" class="form-text text-muted">URL with %s in place of argument</small>
				    	</div>
				    	<div class="form-group form-row">
                            <label class="col-form-label" for="aliases">Aliases</label>
                            <input type="text" class="form-control" id="aliases" name="aliases" aria-describedby="aliases-help" placeholder="aliases">
                            <small id="aliases-help" class="form-text text-muted">Comma-separated list of values without spaces (i.e., alias1,alias2,alias3,....,aliasN)</small>
				    	</div>
				    	<div class="form-row">
							<div class="form-group col-sm-6">
                                <label class="col-form-label" for="argument">Argument Name</label>
                                <input type="text" class="form-control" id="argument" name="argument" aria-describedby="argument-help" placeholder="argument" />
                                <small id="argument-help" class="form-text text-muted">Name of the destination argument (leave blank if no %s in destination)</small>
							</div>
							<div class="form-group col-sm-3">
                                <label class="col-form-label" for="argument-type">Argument Type</label>
                                <select class="form-control" id="argument-type" name="argument_type">
                                    <option>nargs</option>
                                    <option>string</option>
                                </select>
							</div>
							<div class="form-group col-sm-3">
                                <label class="col-form-label" for="argument-default">Argument Default</label>
                                <input type="text" class="form-control" id="argument-default" name="argument_default" placeholder="argument default" />
							</div>
				    	</div>
				    	<button type="submit" id="submit-button" class="btn btn-primary">Submit</button>
				    </form>
				</div>
			</div>
        </div>
        <footer class="footer navbar-fixed-bottom">
            <div class="container-fluid">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                    <span class="text-muted"> &copy; Copyright 2018 by <a href="https://github.com/conveen">Conveen</a>.</span>
                    </li>
                </ul>
            </div>
        </footer>
        <script type="text/javascript" src="{{ url_for("static", filename="js/jquery.min.js") }}"></script>
        <script type="text/javascript" src="{{ url_for("static", filename="js/bootstrap.bundle.min.js") }}"></script>
    </body>
</html>
