<?xml version="1.0" encoding="UTF-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
    <ShortName>Hare</ShortName>
    <Description>Hare: Smart Shortcut Engine</Description>
    <InputEncoding>UTF-8</InputEncoding>
    <Url type="text/html" method="GET" template="${HARE_DOMAIN}">
        <Param name="query" value="{searchTerms}"/>
        <Param name="fallback" value="${DEFAULT_SEARCH_ENGINE}"/>
    </Url>
</OpenSearchDescription>
