##
# Hare engine service
##

[Unit]
Description=Hare engine service
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi --ini /var/www/Hare/deploy/engine.ini
Restart=always
RestartSec=3
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
