{% extends "base.html" %}

{% block title %}Hare Smart Shortcut Directory{% endblock %}

{% block header_ext %}
<link rel="search"
      type="application/opensearchdescription+xml"
      title="Hare"
      href="{{ url_for('static', filename='opensearch.xml') }}" />
<link rel="stylesheet" 
      href="{{ url_for('static', filename='css/datatables.min.css') }}"
      integrity="sha384-3L0qvXR+RiCHQoBFTWVYblhMPTVDHZDqVwJJKwg9D6Z6nF/z28v0egSvjvW4I+sC" />
{% endblock %}

{% block content %}
<!-- App wrapper -->
<div id="app-wrapper" class="container-fluid">
    <h1 class="text-center">Shortcut Directory</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-shortcut-modal">
        Add Shortcut
    </button>

    <!-- Directory table -->
    <table id="directory-table" class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Aliases</th>
                <th scope="col">Description</th>
                <th scope="col">URL</th>
            </tr>
        </thead>
        <tbody>
            {% for destination in destinations %}
                <tr>
                    <th scope="row">{{ destination.aliases }}</th>
                    <td>{{ destination.description }}</td>
                    <td>{{ destination.url }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Add shortcut modal -->
    <div id="add-shortcut-modal" class="modal fade" tabindex="-1" role="dialog">
    	<div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/new" method="POST">
                        <div class="form-group">
                            <label for="shortcut-url">URL</label>
                            <input type="text" class="form-control" id="shortcut-url" name="url" aria-describedby="shortcut-url-help">
                            <small id="shortcut-url-help" class="form-text text-muted">
                                Shortcut URL, such as "https://duckduckgo.com/?q={}". Use "{}" for parameter placeholders.
                            </small>
                        </div>
                        <div class="form-group">                                    
                            <label for="shortcut-description">Description</label>
                            <input type="text" class="form-control" id="shortcut-description" name="description" aria-describedby="shortcut-description-help">
                            <small id="shortcut-description-help" class="form-text text-muted">
                                Description of the shortcut, such as "Search DuckDuckGo."
                                This will help others understand the shortcut URL and parameters.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="shortcut-aliases">Aliases</label>
                            <input type="text" class="form-control" id="shortcut-aliases" name="aliases" aria-describedby="shortcut-aliases-help">
                            <small id="shortcut-aliases-help" class="form-text text-muted">
                                One or more aliases for the shortcut, separated by commas and without spaces
                                (i.e., "d,ddg,duckduckgo").
                            </small>
                            <label for="shortcut-is-fallback">Is Fallback</label>
                            <select class="form-control" id="shortcut-is-fallback" name="is_fallback" aria-describedby="shortcut-is-fallback-help">
                                <option value="True">True</option>
                                <option value="False" selected>False</option>
                            </select>
                            <small id="shortcut-is-fallback-help" class="form-text text-muted">
                                Whether the shortcut can be used as a fallback. Note that fallbacks must take
                                a <i>single</i> parameter, like DuckDuckGo, Google, or Bing.
                            </small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_ext %}
<script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"
        integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/datatables.min.js') }}"
        integrity="sha384-XW25Fu/i9x9ksGjbf44qbJP2NC+O3/IwobexnFISEw/WlgFs9KAXO+6tXpCLT/Rs"></script>
<script type="text/javascript">
    // Initialize directory DataTable object on page load
    $(document).ready(function () {
        $("#directory-table").DataTable({
            // Disable initial pass ordering (ordering is done server side initially)
            order: [],
            // Disable paging
            paging: false,
            // Disable the display of a 'processing' indicator when the table
            // is being processed (i.e., during sorting)
            processing: false,
            // Set maximum height of table before scrolling required
            scrollY: "100%",
        });
    });
</script>
{% endblock %}
