{% extends "ui/components/modal.html" %}
{% load static %}
{% load hare %}

{% block id %}add-shortcut-modal{% endblock %}

{% block title %}Add New Shortcut{% endblock %}

{% block body %}
<form
    id="add-new-shortcut-form"
    action="{% url 'list-destinations' %}"
    method="{{ form_component_method|default:'POST' }}"
    {% if form.is_bound %}class="was-validated"{% endif %}
    novalidate>
    {% csrf_token %}
    {% form_input_text form form.url input_type="url" %}
    {% form_input_text form form.description %}
    {% form_input_text form form.aliases %}
    {% form_input_checkbox form form.is_fallback %}
    <div class="form-row">                                    
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
{% endblock %}
