{% extends "ui/components/base.html" %}
{% load static %}

{% block title %}Hare Smart Shortcut Directory{% endblock %}

{% block header_ext %}
<link rel="search"
      type="application/opensearchdescription+xml"
      title="Hare"
      href="{% static 'opensearch.xml' %}" />
<link rel="stylesheet" 
      href="{% static 'ui/css/datatables.min.css' %}"
      integrity="sha384-C/+tcemWFJgJNDS4VxeDhxQLrD4XUN5Nb0BXyYWz6iXMFgMF7PP63L9Fbtu0hW5U" />
{% endblock %}

{% block content %}
<!-- App wrapper -->
<div id="app-wrapper" class="container-fluid">
    <h1 class="text-center">Shortcut Directory</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-shortcut-modal">
        Add Shortcut
    </button>

    <!-- Directory table -->
    {% include "ui/components/list-destinations/directory-table.html" with destinations=destinations only %}

    <!-- Add shortcut modal -->
    {% include "ui/components/list-destinations/add-shortcut-form.html" with modal_component_id="add-shortcut-modal" form_component_id="add-new-shortcut-form" form=form %}
</div>
{% endblock %}

{% block body_ext %}
<script type="text/javascript"
        src="{% static 'ui/js/jquery.slim.min.js' %}"
        integrity="sha384-Qg00WFl9r0Xr6rUqNLv1ffTSSKEFFCDCKVyHZ+sVt8KuvG99nWw5RNvbhuKgif9z"></script>
<script type="text/javascript"
        src="{% static 'ui/js/bootstrap.bundle.min.js' %}"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"></script>
<script type="text/javascript"
        src="{% static 'ui/js/datatables.min.js' %}"
        integrity="sha384-Wk3F8JoNG6R+hvN1CLSpHQCbuX9lVx+Haraj+3QqZex7sOcA/IKrUj/7xK63pes3"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // Initialize directory DataTable object on page load
        $("#directory-table").DataTable({
            // Disable initial pass ordering (ordering is done server side initially)
            order: [],
            // Enable paging
            paging: true,
            pageLength: 25,
            // Disable the display of a 'processing' indicator when the table
            // is being processed (i.e., during sorting)
            processing: false,
            // Set maximum height of table before scrolling required
            scrollY: "100%",
            // Configure UI layout
            dom: "<'row'<'col-sm-12 col-md-6'><'col-sm-12 col-md-6'f>>" +
                 "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'p>>" +
                 "<'row'<'col-sm-12'tr>>" +
                 "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        });

        // Set listener for form submit to validate fields
        $("#add-new-shortcut-form").submit(function(e) {
            form = e.target
            if (form.checkValidity() === false) {
                e.preventDefault();
                e.stopPropagation();
            }
            form.classList.add("was-validated");
        });

        {% if form.is_bound %}$("#add-shortcut-modal").modal("show");{% endif %}
    });
</script>
{% endblock %}
